@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h1>jQuery element Selector</h1>

<p>This is p tag</p>
<span>This is span tag</span>
<div>This is div tag</div>

